<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="io.kenji.courier.demo"/>

    <context:property-placeholder location="classpath:courier.properties"/>
<!--    public RpcSpringServer(String serverAddress, String registryAddress, RegisterType registerType, ReflectType reflectType, int heartbeatInterval, TimeUnit heartbeatIntervalTimeUnit, int scanNotActiveChannelInterval, TimeUnit scanNotActiveChannelIntervalTimeUnit) {-->

    <bean id="rpcServer" class="io.kenji.courier.provider.spring.RpcSpringServer">
        <constructor-arg name="serverAddress" value="${server.address}"/>
        <constructor-arg name="registryAddress" value="${registry.address}"/>
<!--        <constructor-arg name="registerType" type="io.kenji.courier.annotation.RegisterType" value="${registry.type}"/>-->
        <constructor-arg name="registerType" value="${registry.type}"/>
<!--        <constructor-arg name="registryLoadBalanceType" value="${registry.loadbalance.type}"/>-->
        <constructor-arg name="reflectType" value="${reflect.type}"/>
        <constructor-arg name="heartbeatInterval" value="${server.heartbeatInterval}"/>
        <constructor-arg name="heartbeatIntervalTimeUnit"  value="${server.heartbeatInterval.timeUnit}"/>
        <constructor-arg name="scanNotActiveChannelInterval" value="${server.scanNotActiveChannelInterval}"/>
        <constructor-arg name="scanNotActiveChannelIntervalTimeUnit" value="${server.scanNotActiveChannelInterval.timeUnit}"/>
    </bean>
</beans>